<div id="contractStatus" class="col-md-2">
<h5>Contract Status:</h5>
{{#if contractExists}}
  {{#if contractIsCompiled }}
    <p id="contractIsCompiledMsg" class="contractStatusMessage"> {{{contractNameSol}}} {{{contractIsCompiledMessage}}} </p>
  {{else}}
    <p id="contractIsNotCompiledMsg" class="contractStatusMessage"> {{{contractNameSol}}} {{{contractIsNotCompiledMessage}}} </p>
  {{/if}}
{{else}}
  <p id="contractNotExistMsg" class="contractStatusMessage"> {{{contractNameSol}}} {{{contractNotExistMessage}}} </p>
{{/if}}

{{#if contractData.address }}
  <p id="contractDataMsg" class="contractStatusMessage"> {{{contractNameSol}}} {{{contractDataMessage}}} </p>
{{else}}
  {{#if hasKey}}
  <p id="contractUploadMessage" class="contractStatusMessage"> {{{ contractNameSol }}} {{{contractUploadMessage }}}  </p>
  {{else}}
     {{# if contractExists }}
        <p id="generateKeyMsg" class="contractStatusMessage"> {{{ generateKeyMessage }}} </p>
     {{/if}}
  {{/if}}
{{/if}}
</div>